/*styling css here*/
/*.site-header {
  display: inline;
}*/

.site-header{
  position: relative;
}

.header-title{
  padding: .2em 1em;
}

.site-header li {
  display: inline;
  padding: 0.2em;
}

.icon-rocket{
  /*text-align: left;*/
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  margin: 0.5em;
  color: blue;
  /*margin-left: 0.5em;
  margin-top: 0;*/
}

.site-header-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.site-header-nav:hover ul {
  display: block;
}

@media only screen and (min-width: 768px) {
  .icon-rocket {
  display:none;
  }
  .site-header-nav ul {
    display: block;
  }
  .site-header-nav li {
    display: inline;
    border-bottom: none;
    padding-right: 2em;
  }

  /*#projects {
    margin-left: 0.5em;
  }*/

  section{
    margin-left: 0.5em;
  }
  .left-column {
    float: left;
    width: 49%;
  }

  .right-column {
    float: right;
    width: 49%;
  }

  #outside-interests {
    clear: both;
  }


}
