body{
  background-color: #93A3B1;
  color: #4C443C;
  margin-left: 30%;
  margin-right: 30%;
}

a {
  color: #7C898B;
}

a:hover {
  color: #4C443C;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
