body{
  background-color: #F9F8F8;
  color: #020122;
}

h1 {
  font-size: 4em;
  font-family: 'Rancho', cursive;
  margin-bottom: 0;
  display: inline;
}

h6 {
  font-size: 1em;
  margin-top: 0;
}

header {
  height: 300px;
  background-image: url('../images/minerva.jpg');
  color: #F9F8F8;
  position: relative;
}

a {
  color: #F9F8F8;
}

a:hover {
  color: #D8E4FF;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h4 a {
  color: #020122;
}

@media only screen and (min-width: 768px) {
  main {
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
  }

  h2 {
    text-align: center
  }

  header {
    margin-top: 0;
    padding: 0;
  }
}
